
@import "partials/mixins";

body {

	p {
		font-size: 16px;

	}

	#dress {
		width: 400px;

		@media only screen and (min-width: 320px) {
			width: 200px;
		}

		@media only screen and (min-width: 480px) {
			width: 300px;
		}
		@media only screen and (min-width: 680px) {
			width: 380px;
		}

		@media only screen and (min-width: 960px) {
			width: 400px;
			right: auto;
		}

	}


	#logo {
		width: 400px;
	}

	input[type="text"] {
		display: block;
	}

	input[name="zipcode"] {
		display: block;
	}

	.views {
		padding: 20px 50px 50px 50px;
		border: black 2px solid;
		border-radius: 10px;
		margin-bottom: 35px;
	}


}
