
@import "partials/mixins";

body {

	button {
		width: 300px;
		text-transform: uppercase;
		display: block;
		border: 1px solid black;
		margin-top: 10px;
		margin-bottom: 10px;
		height: 40px;
		font-weight: 500;
		letter-spacing: 2px;
		font-family: helvetica;
	}

	.forward {
		background-color: black;
		color: white;

		&:hover {
    background-color: lighten(black, 30%)
  	}
	}

	.backward {
		background-color: white;
		color: black;

		&:hover {
    background-color: darken(white, 10%)
  	}
	}


	p {
		font-size: 16px;
	}

	#dress {
		width: 500px;
	}

	#image-view {
		margin-bottom: 20px;
	}

	#brand {
  color: black;

  &:hover {
    color:  #D90EAC;
  }
}

	#sale {
		color: red;
	}

	.views {
		border-radius: 10px;
		margin-top: 30px;
		width: 400px;

		@include xs-screens {
			width: 300px;
		}

		@include small-screens {
			width: 400px;
		}

		@include medium-screens {
			width: 450px;
		}

		@include large-screens {
			width: 480px;
		}
	}

	#logo {
		width: 400px;

		@include xs-screens {
			width: 280px;
		}
		@include small-screens {
			width: 300px;
		}
	}

	#shipaddress input {
		display: block;
		width: 300px;
	}

}
