
@import "partials/mixins";

body {

	button {
		width: 300px;
		text-transform: uppercase;
		display: block;
		border: 1px solid black;
		margin-top: 10px;
		margin-bottom: 10px;
		height: 40px;
		font-weight: 500;
		letter-spacing: 2px;
		font-family: helvetica;
	}

	.forward {
		background-color: black;
		color: white;

		&:hover {
    background-color: lighten(black, 30%)
  	}
	}

	.backward {
		background-color: white;
		color: black;

		&:hover {
    background-color: darken(white, 10%)
  	}
	}


	p {
		font-size: 16px;
	}

	#dress {

		@include xxs-screens {
			width: 100px;
		}

		@include xs-screens {
			width: 150px;
		}

		@include small-screens {
			width: 300px;
		}


	}

	#savings {
		color: #D90EAC;
	}

	#image-view {
		margin-bottom: 20px;
	}

	#brand {
  color: black;

  &:hover {
    color:  #D90EAC;
  }
}

	#sale {
		color: red;
	}

	.views {
		border-radius: 10px;
		margin-top: 30px;
		width: 400px;

		@include xxs-screens {
			width: 200px;
		}

		@include xs-screens {
			width: 350px;
		}

		@include small-screens {
			width: 400px;
		}

		@include medium-screens {
			width: 420px;
		}

		@include large-screens {
			width: 420px;
		}
	}

	#logo {
		width: 400px;

		@include xxs-screens {
			width: 100px;
		}
		@include xs-screens {
			width: 180px;
		}
		@include small-screens {
			width: 300px;
		}
	}

	label {
		display: block;
		margin-bottom: 2px;
	}

	#shipaddress input {
		display: block;
		width: 300px;
	}

	#shipping-header {
		margin-top: 30px;
	}

	#shipping-info {
		padding: 10px;
		width: 300px;
		border: black solid 1px;
	}

	#quantity-selection {
		height: 20px;
		width: 50px;
	}

	.quantity {
		margin: 5px;
		width: 140px;
		display: inline;
	}


}
